.how-to-start {
  h1 {
  }

  .how-to-start__form {
    padding: 24px 24px 48px;
    border-radius: 4px;
    border: solid 1px #d6d6e0;
    background-color: #ffffff;
    .form-control {
      margin-bottom: 24px;
    }
    .how-to-start__continue {
      a {
      }
    }
  }
}
